/* Reset and general styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Geneva", sans-serif;
    text-align: center;
    font-size: 12pt;
}

body {
    background: url('images/bones_background.jpg') center/cover;
}

body.game {
    background: url('images/home.jpg') center/cover no-repeat;
    background-size: 100% 100%;
}

body.register, body.login {
    background: url('images/dog_flowers.jpg') center 10%/cover;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li img {
    vertical-align: middle;
    width: 25px;
    margin-bottom: 5px;
}

.container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Tables and Forms */
.stats, table, th, td, fieldset, legend, label, input {
    font-size: 14px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Links */
a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    background-color: #FFA;
}

/* Form Elements */
fieldset {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

legend {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0088cc;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005580;
}

/* Pet Stats Container */
.pet-stats-container {
    display: flex;
    justify-content: space-around;
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.pet-stat {
    text-align: center;
    margin-right: 15px;
}

.pet-stat p {
    margin: 0;
    font-size: 16px;
}

/* Pet and Bowl Images */
.pet-image, .bowl-image {
    position: fixed;
    bottom: 0;
}

.pet-image {
    transform: translateX(800px);
    max-width: 25%;
    left: 5%;
}

.bowl-image {    
    max-width: 10%;
    left: 10%;
}

/* Pet Mood */
.pet-mood {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logout Button & Invisible Button */
.button, input[name="logout"] {
    position: fixed;
    bottom: 0;
    left: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100px;
    height: 40px;
}
.button{
background: none;
}


/* Error Messages */
p.error, .error-message {
    color: red;
}
